body {
    background: white url("../images/background.webp");
    background-size: 100%;
backdrop-filter: blur(10px);
}


.card {
    padding: 10px;
    margin:50px;
 
    }

    .card-button{
        position: relative;
        margin: 0;
    }

    .card-footer {
        background: transparent;
        border-top: 0px;
      }
      .main-text{
        color: white;
        font-size:large;
      }