{% extends 'base.html' %}
{% block content %}


    <div class=" row justify-content-left">

        <div class="card w-75" style="width: 100;">
            <div class="card-body">
            <h5 class="card-title">{{campaign.short_description}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Last Update: {{update.updated_at}}</h6>
            <p class="card-text">{{campaign.long_description }}</p>
            </div>
        </div>


    </div>


    <div class=" row justify-content-left">
        {%for action in actions%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{action.title}}</h5>
            <a href= "mailto:{{action.handle}}?subject={{action.title}}
                    &body={{action.content}}">{{action.get_type_display}}</a>
            <p class="card-text">{{action.description}}</p>
            </div>
        </div>
        {%endfor%}

    </div>


    <div class=" row justify-content-left">
        {%for update in updates%}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{update.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Last Update: {{update.updated_at}}</h6>
            <p class="card-text">{{update.description}}</p>
            </div>
        </div>
        {%endfor%}

    </div>
   


{% endblock %}