{% extends 'base.html' %}
{% block content %}

<h3 class="main-text">In September 2022, protests have broken out across Iran after the 
  death of Mahsa (Zhina) Amini, a 22-year-old Iranian who died in morality police custody.
  Mahsa was arrested by Guidance Patrol forces for wearing her hijab improperly. She was beaten by baton and forced to get to the morality police vans and moved to the Moral Security Agency. 
  Her brother was told that they take </h3>
  <h2></h2>
  <h2 class = "h2 bg-danger">Active Campaigns </h2>
    <div class ="row">
      
      {%for campaign in campaigns%}
        <div class="card column" style="width: 18rem;">
            <img class="card-img-top" src={{campaign.cover_image.url}} alt="Card image cap">
            <div class="card-body flex">
              <h5 class="card-title">{{campaign.short_description | truncatechars:70}}</h5>
              <p class="card-text">{{campaign.long_description | truncatechars:120}}</p>
              </p>
              
                
           
            </div>

            <div class="card-footer">
              <a href="{{campaign.id}}/campaignDetails" class="btn btn-primary">See Details</a>
           </div>
        </div>
        {% endfor %}



    </div>
</div>

{% endblock %}